body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.login-container,
.user-home-container,
.admin-home-container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    text-align: center;
}

h2 {
    margin-top: 0;
}

input[type="text"],
input[type="password"],
button {
    display: block;
    width: 96%;
    margin: 10px 0;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background-color: #32dada;
    color: white;
    cursor: pointer;
    width: 100px;
    align-content: center;
}

button:hover {
    background-color: #38b6e7;
}

.hidden {
    display: none;
}
